body {
    font-family: "Poppins", sans-serif;
    background: rgb(150, 173, 255);
}

.navlink {
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-size: 1.5em;
}

.wrapper {
    padding: 10px;
    margin-top: 20px;
}

.githead {
    font-weight: 700;
}

.jobhead {
    font-weight: 200;
}

.jumbotron {
    margin: 30px 0px;
    height: 138px;
    width: 100%;
    background: url(../images/jumbo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchbox {
    background: white;
    border-radius: 5px;
    padding: 10px;
    width: 65%;
    padding-right: 0;
}

.searchterm {
    width: 75%;
    border: none;
    padding: 5px;
}

.searchbut {
    width: 20%;
    padding: 12px;
}

*:focus {
    outline: none;
}

.leftpanel {
    padding: 10px;
}

.lochead {
    color: rgba(185, 189, 207, 1);
    font-weight: bold;
}

.locbox {
    width: 90%;
    background: white;
    padding: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    color: rgba(185, 189, 207, 1);
    margin: 20px 0;
}

.locterm {
    border: none;
    padding: 5px;
    margin-left: 5px;
    width: 80%;
}

.locbut {
    width: 90%;
    margin: auto;
    padding: 10px;
    font-size: 1.1em;
}

.loc {
    font-size: 1em;
}

.category {
    margin-left: 10px;
}

.catname {
    margin: 5px 0;
    cursor: pointer;
}

.catinput {
    cursor: pointer;
}

.companybox {
    width: 100%;
    background: white;
    margin: 20px auto;
    height: 150px;
    padding: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}

.compimg {
    width: 120px;
    height: 120px;
    border-radius: 4px;
    float: left;
}

.compimg img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.jobdet {
    margin-left: 20px;
    float: left;
    text-transform: capitalize;
}

.comppos {
    margin-bottom: 8px;
    font-size: 1.2em;
}

.jobtype {
    color: rgba(51, 70, 128, 1);
    border: 1px solid #334680;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 0.9em;
    font-weight: bold;
    text-align: center;
    width: 100px;
    text-transform: uppercase;
}

.jobpostdet {
    color: rgba(185, 189, 207, 1);
    bottom: 0;
    position: absolute;
    right: 0;
    padding: 5px 10px;
    font-size: 0.9em;
}

.jobloc {
    margin-right: 15px;
}

.pagebox {
    float: right;
    height: 40px;
    padding: 5px;
}

.leftarrowbox,
.rightarrowbox,
.nobox {
    background: white;
    border-radius: 5px;
    height: 30px;
    width: 30px;
    border: 1px solid #334680;
    margin: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    cursor: pointer;
    font-size: 0.9em;
    color: #334680;
}

p {
    margin-bottom: 0;
}

.nowrapper {
    float: left;
}

.active:hover,
.nobox:hover {
    background: #334680;
    color: white;
}

.selected {
    background: #334680;
    color: white;
    animation: click 0.3s 1 linear;
}

.disabled {
    border: 1px solid rgba(185, 189, 207, 1);
    color: rgba(185, 189, 207, 1);
    cursor: default;
}

.active {
    cursor: pointer;
    border: 1px solid #334680;
    color: #334680;
}

.footer {
    color: #000000;
    font-size: 1em;
    text-align: center;
}

@keyframes click {
    0% {
        background: white;
        color: #334680;
    }

    100% {
        background: #334680;
        color: white;
    }
}

@media (max-width: 991px) {
    .searchterm {
        width: 60%;
    }

    .searchbut {
        width: 30%;
    }

    .companybox {
        height: 170px;
    }

    .comppos {
        font-size: 0.9em;
    }
}

@media (max-width: 500px) {
    .searchterm {
        width: 40%;
    }

    .searchbut {
        width: 40%;
    }

    .comppos {
        font-size: 0.8em;
    }

    .compimg {
        width: 80px;
        height: 80px;
    }

    .compname {
        font-size: 0.9em;
    }

    .jobdet {
        float: none;
        margin-left: 30px;
    }

    .jobtype {
        float: left;
    }

    .searchbox {
        width: 80%;
        padding-right: 0;
    }
}